@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53);
    padding: 18px 24px;
    box-shadow: 0 16px 14px 0 #04152d;
    gap: 10px;
}

.image {
    max-width: 100%; /* Adjust to fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners */
    margin-bottom: 26px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 15px;
    font-weight: normal;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--colour-dark);
    padding: 2px 22px;
}

.links {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: var(--colour-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--colour-primary);
    padding: 1px 22px;
}

.link:hover {
    background-color: var(--colour-secondary);
}

@media screen and (max-width: 830px) {
    .container {
        min-height: auto; /* Ensure no minimum height on mobile */
        /* Optionally adjust padding for smaller screens */
        padding: 10px; /* Adjust padding for better spacing on mobile */
    }
}
