.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 61px;
    z-index: 2;
    width: 100%;  /* Full width */
    margin: 0;    /* Remove margin */
    background: linear-gradient(135deg, #4b6cb7, #182848); /* Gradient background */
    border: none; /* Ensure no border */
    outline: none; /* Ensure no outline */
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--colour-text);
  }
  
  .menu {
    display: flex;
  }
  
  .menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
  }
  
  .menuItems a {
    font-size: 25px;
    color: var(--colour-text);
    text-decoration: none;
  }

  
  /* For mobile screens (max-width: 830px) */
  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      position: absolute;
      right: 0;
      margin-right: 10%;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;
    }
  
    .menuBtn {
      display: block; /* Show menu icon on mobile */
      cursor: pointer;
    }
  
    .menuItems {
      display: none !important; /* Hidden by default on mobile */
      flex-direction: column;
      align-items: center;
      gap: 13px;
      border-radius: 10px;
      background: rgb(25, 55, 109);
      background: linear-gradient(0deg, rgba(22, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1), 100%);
      padding: 24px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
  
    .menuOpen {
      display: flex !important; /* Show the menu when it's open */
    }
  
    /* Hide the menu button when the menu is open */
    .menuOpen ~ .menuBtn {
      display: none !important; /* Ensure the menu icon is hidden when menu is open */
    }
  
    /* Hide menu items when close icon is clicked */
    .closeMenu ~ .menuItems {
      display: none !important; /* Hides the menu items when the close icon is clicked */
    }
  }
  
  /* For desktop screens (min-width: 768px) */
  @media screen and (min-width: 768px) {
    .menuIcon {
      display: none ; /* Hide the menu icon on desktop */
    }
  
    /* Ensure the menu items are always visible on desktop */
    .menuItems {
      display: flex;
      list-style: none;
    }

    .menuOpen{
        display: none!important;
    }
  }
  